
h1, h2 {
    font-family: "Playwrite AU VIC", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
h1 {
    font-weight: 400;
}
h2 {
    font-weight: 300;
}
body {
    margin: 0;
    background-color: #9afff3;
}

header {
    background: url("https://images.pexels.com/photos/55787/pexels-photo-55787.jpeg");
    background-position-x: -470px;
    background-position-y: -3200px;
    text-align: center;
    margin: 0;
    padding: 2em;
}
nav {
    margin-top: -8px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #020024;
    background: linear-gradient(6deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 43%, rgba(0, 212, 255, 1) 100%);
    border-radius: 8px;
}
nav li {
    float: left;
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
main {
    margin: 0 auto;
    width: 1200px;
}