@mobileBreakpoint: 1024px;
@baseFontSize: 16px;
@backgroundColor: #f5f5f5;
@fontColor: #484848;
@lineColor: lighten(@fontColor, 50%);
@accentColor: #ffa650;
@errorColor: #ff4d4d;
@errorTextColor: #6e0000;
@errorBackgroundColor: rgba(255, 187, 187, 0.57);